/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$navy-color};
  --global-text-color-light: #555c70;
  --global-theme-color: #{$theme-color};
  --global-hover-color: #{$blue-color-dark};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #f7f6f3;
  --global-footer-text-color: #555c70;
  --global-footer-link-color: #{$navy-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #e6e4de;
  --global-card-bg-color: #fafaf8;

  --global-link-color: #{$link-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #d8d8dc;
  --global-text-color-light: #9a9aa3;
  --global-theme-color: #{$theme-color-dark};
  --global-hover-color: lighten($cyan-color, 15%);
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #15171c;
  --global-footer-text-color: #9a9aa3;
  --global-footer-link-color: #d8d8dc;
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #333640;
  --global-card-bg-color: #{$grey-900};

  --global-link-color: #{$link-color-dark};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
